<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>收支平台-首页</title>

		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<!-- bootstrap & fontawesome -->
		<link rel="stylesheet" href="../ace-admin/assets/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../ace-admin/assets/font-awesome/4.5.0/css/font-awesome.min.css" />

		<!-- page specific plugin styles -->

		<!-- text fonts -->
		<link rel="stylesheet" href="../ace-admin/assets/css/fonts.googleapis.com.css" />
		
		<link rel="stylesheet" href="../vue/vue.css" />

		<!-- ace styles -->
		<link rel="stylesheet" href="../ace-admin/assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />

		<!--[if lte IE 9]>
			<link rel="stylesheet" href="../ace-admin/assets/css/ace-part2.min.css" class="ace-main-stylesheet" />
		<![endif]-->
		<link rel="stylesheet" href="../ace-admin/assets/css/ace-skins.min.css" />
		<link rel="stylesheet" href="../ace-admin/assets/css/ace-rtl.min.css" />

		<!--[if lte IE 9]>
		  <link rel="stylesheet" href="../ace-admin/assets/css/ace-ie.min.css" />
		<![endif]-->

		<!-- inline styles related to this page -->

		<!-- ace settings handler -->
		<script src="../ace-admin/assets/js/ace-extra.min.js"></script>

		<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

		<!--[if lte IE 8]>
		<script src="../ace-admin/assets/js/html5shiv.min.js"></script>
		<script src="../ace-admin/assets/js/respond.min.js"></script>
		<![endif]-->
	</head>

	<body class="no-skin">
		<div id="navbar" class="navbar navbar-default          ace-save-state">
			<div class="navbar-container ace-save-state" id="navbar-container">
				<button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
					<span class="sr-only">Toggle sidebar</span>

					<span class="icon-bar"></span>

					<span class="icon-bar"></span>

					<span class="icon-bar"></span>
				</button>

				<div class="navbar-header pull-left">
					<a href="javascript:;" class="navbar-brand">
						<small>
							收支平台
						</small>
					</a>
				</div>

				<div class="navbar-buttons navbar-header pull-right" role="navigation" id="userDiv" v-cloak>
					<ul class="nav ace-nav">
						<li class="light-blue dropdown-modal">
							<a data-toggle="dropdown" href="#" class="dropdown-toggle">
								<img class="nav-user-photo" src="../ace-admin/assets/images/avatars/avatar2.png"/>
								<span class="user-info">
									<small>欢迎：</small>
										{{username}}
								</span>

								<i class="ace-icon fa fa-caret-down"></i>
							</a>

							<ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
								<li>
									<a href="javascript:signOut()">
										<i class="ace-icon fa fa-power-off"></i>
										退出
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div><!-- /.navbar-container -->
		</div>

		<div class="main-container ace-save-state" id="main-container">
			<script type="text/javascript">
				try{ace.settings.loadState('main-container')}catch(e){}
			</script>

			<div id="sidebar" class="sidebar                  responsive                    ace-save-state">
				<script type="text/javascript">
					try{ace.settings.loadState('sidebar')}catch(e){}
				</script>
				<div id="menuDiv" v-cloak>
				<ul class="nav nav-list">
					<li class="">
						<a href="javascript:;">
							<i class="menu-icon fa fa-tachometer"></i>
							<span class="menu-text"> Dashboard </span>
						</a>

						<b class="arrow"></b>
					</li>
					
					<li class="" v-for="(menu,index) in menuList" :key="index">
						<a href="javascript:;" class="dropdown-toggle">
							<i :class="menu.className"></i>
							<span class="menu-text"> {{menu.menuName}} </span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">
							<li class="" v-for="(item,index) in menu.itemList" :key="index">
								<a href="javascript:;" class="menu" :id="item.menuUrl" onclick="itemMenuClick(this)">
									<i class="menu-icon fa fa-caret-right"></i>
									{{item.menuName}}
								</a>

								<b class="arrow"></b>
							</li>
						</ul>
					</li>
				</ul><!-- /.nav-list -->
				</div>

				<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
					<i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
				</div>
			</div>

			<div class="main-content">
				<div class="embed-responsive embed-responsive-16by9">
				  <iframe class="embed-responsive-item" src=""></iframe>
				</div>
			</div><!-- /.main-content -->

			<div class="footer">
				<div class="footer-inner">
					<div class="footer-content">
						<span class="bigger-120">
							<span class="blue bolder">BJ</span>
							Application &copy; 2020-2030
						</span>
					</div>
				</div>
			</div>

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		<!-- basic scripts -->

		<!--[if !IE]> -->
		<script src="../ace-admin/assets/js/jquery-2.1.4.min.js"></script>
		<script src="../conf/conf.js"></script>
		<script src="../vue/vue.js"></script>
		<script src="../ace-admin/assets/js/bootstrap.min.js"></script>
		<script src="../ace-admin/assets/js/bootbox.js"></script>
		<!-- <![endif]-->

		<!--[if IE]>
<script src="../ace-admin/assets/js/jquery-1.11.3.min.js"></script>
<![endif]-->
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='../ace-admin/assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
			
			var token=localStorage.getItem(ACCESS_TOKEN);
			if(token==null){
				location.href = "./login.html";
			}
			//请求用户信息
			var username="";
			$.ajax({
			   type: "GET",
			   url: BASE_API+"user/info",
			   headers:{
				   "access_token":token
			   },
			   success: function(data){
				   if(data.code==200){
					   username=data.result.username;
					   new Vue({
							el:'#userDiv',
							data:{
								username: username,
							}
						});
				   }else{
					   bootbox.alert(data.msg,function(){
						   location.href = "./login.html";
					   });
				   }
			   }
			});
			//请求菜单信息
			var menuList=[];
			$.ajax({
			   type: "GET",
			   url: BASE_API+"user/menu",
			   headers:{
				   "access_token":token
			   },
			   success: function(data){
				   if(data.code==200){
					   menuList=data.result.menuList;
					   new Vue({
							el:'#menuDiv',
							data:{
								menuList: menuList,
							}
						});
				   }else{
					   bootbox.alert(data.msg,function(){
						   location.href = "./login.html";
					   });
				   }
			   }
			});
			//左侧菜单
			function itemMenuClick(dom){
				var id=dom.getAttribute("id")
				$(".embed-responsive-item").attr('src',id);
			};
			
			function signOut(){
				localStorage.removeItem(ACCESS_TOKEN);
				location.href = "./login.html";
			}
		</script>
		<!-- page specific plugin scripts -->

		<!-- ace scripts -->
		<script src="../ace-admin/assets/js/ace-elements.min.js"></script>
		<script src="../ace-admin/assets/js/ace.min.js"></script>

		<!-- inline scripts related to this page -->
	</body>
</html>
